<div class=" w-100 p-1 mb-2 bg-info text-white">
   
    <nav class="nav nav-pills flex-column flex-sm-row">
            <div class="nav nav-pills flex-column flex-sm-row align-content-center ml-3">
                    <i class="fas fa-2x fa-temperature-high"></i>
                </div>
        <div class="flex-sm-fill text-sm-center nav-link">
            <app-search></app-search>
        </div>
        <div class="pr-5 flex-sm-fill text-sm-start text-right nav-link">
            <a class=" text-sm-start text-right text-white" routerLink="/">Home</a>
        </div>
    </nav>
</div>