<div class=" w-100 p-1 mb-2 bg-info text-white">
   
    <nav class="nav nav-pills d-flex flex-sm-row">
           
        <div class="flex-sm-fill col-md-8 d-flex text-sm-center nav-link">
                <i class="fas fa-2x mr-2 fa-temperature-high"></i>
                <div class="w-100">
            <app-search></app-search>
        </div>
        </div>
        <div class="pr-5 flex-sm-fill col-md-4 text-sm-start text-right nav-link">
            <a class=" text-sm-start text-right text-white" routerLink="/">Home</a>
        </div>
    </nav>
</div>