<form [formGroup]="searchForm" (ngSubmit)="searchCity()">
<div class="input-group"> 
    <input type="text" class="form-control" placeholder="Search City with State e.g London,UK" aria-label="Search City"
      aria-describedby="search button" formControlName = "search" (changes)="onSearchChange()">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary bg-light" [disabled]="searchForm.invalid" type="submit" id="search-button">Search</button>
    </div>
</div>
<div *ngIf="searchForm.controls.search?.errors?.invalid" class="text-danger">
  <h6>Sorry we cannot load the details of the city you mentioned. Please try again</h6></div>
</form>