/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/functions';
   @import '~bootstrap/scss/variables';
   @import '~bootstrap/scss/mixins';
   
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cursor-pointer{
    cursor: pointer;
}
.h2-fontweigh-300{
    font-weight: 300;
}


.city-list-bg-color--hover{
    &:hover {
        background-color: theme-color("dark") !important;
        opacity: 0.5;
        color: color("white") !important;
    }
}
