<div class="container">
    <div *ngFor="let perdayData of perDayListArray| keyvalue; let ind = index" class="row card  m-2 p-2">
        <div class="col-xs-12 card-header" id="head-{{ind}}">
            <div data-toggle="collapse" [attr.data-target]="'#collapse-'+ ind">{{perdayData.key | date: "EEE, d"}}</div>
        </div>
        <div class="col-xs-12  collapse show" id="collapse-{{ind}}">
            <div class=" d-flex flex-wrap">
            <div *ngFor="let perHour of perdayData.value" class=" border border-secondary rounded ml-2 mt-2">
                <app-perhour-temp [perHourData]="perHour"></app-perhour-temp>
            </div>
        </div>
        </div>
    </div>
</div>